<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="../static/img/plasma.png" rel="icon">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <title>Plasma Donor</title>
</head>
    <br>
    <center><h4>Successfully registered</h4></center>
    <br>
    <center><h2>Nearest Plasma Donation Centre!!!</h2></center>
    <br>
    <table style="text-align:center;">
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125328.35044049304!2d76.8397321625!3d11.000238500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859a44ab0e905%3A0x6225fb2d1dc344d8!2sKG%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668716024107!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">5, Government Arts College Rd, Opposite Court, Gopalapuram, Coimbatore, Tamil Nadu 641018</p><p>Phone number: 04222212121</p>
            </td>
        </tr>
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125328.35044049304!2d76.8397321625!3d11.000238500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859740d746dc7%3A0xb6de5c010a2634e1!2sSwami%20Vivekananda%20Blood%20Centre!5e0!3m2!1sen!2sin!4v1668716091422!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">94, 1st Floor, S.G.Rajatathinam Hospital, Vivekananda Rd, Ram Nagar, Coimbatore, Tamil Nadu 641009</p><p>Phone number: 08960886655</p></td>
      
        </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125328.35044049304!2d76.8397321625!3d11.000238500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85774f715dfd7%3A0x264bbd179d0b6e30!2sGOLDEN%20BLOOD%20DONORS-COIMBATORE%20TEAM!5e0!3m2!1sen!2sin!4v1668716162225!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td><p style="color:rgb(0, 0, 0)">No.9/B vikas layout, annanagar, Peelamedu, Coimbatore, Tamil Nadu 641004</p><p>Phone number: 8248573801</p> </td>    
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125328.35044049304!2d76.8397321625!3d11.000238500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba858fec623be57%3A0x532d3296419b8fcd!2sSheela%20Hospitals%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668716251832!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td> <p style="color:rgb(0, 0, 0)">No. 117, E Power House Rd, Tatabad, Coimbatore, Tamil Nadu 641012</p><p>Phone number: 04224334500</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125328.35044049304!2d76.8397321625!3d11.000238500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8582ba95555d7%3A0x1fdb79df7b4e246b!2sPSG%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668716331183!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </td>
     <td> <p style="color:rgb(0, 0, 0)">Coimbatore, Tamil Nadu 641004</p><p>Phone no: 04222570170</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125328.35044049304!2d76.8397321625!3d11.000238500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859a17cf46cf7%3A0xe2e57e33e1296a28!2sCMC%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668716397712!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
        <td><p style="color:rgb(0, 0, 0)">Gopalapuram, Coimbatore, Tamil Nadu 641018</p><p>Phone number: 04222301393</p></td>
    </tr>
    </table>
    <br>
    <br>
    <center><a  class="btn btn-dark mt-2" href="/">Go to Home</a></center>
    <br>
    <br>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>