<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="../static/img/plasma.png" rel="icon">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <title>Plasma Donor</title>
</head>
    <br>
    <center><h4>Successfully registered</h4></center>
    <br>
    <center><h2>Nearest Plasma Donation Centre!!!</h2></center>
    <br>
    <table style="text-align:center;">
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d505456.02627219196!2d77.14600690161683!3d8.215303313805126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04f09701dbeeb9%3A0x6421738db6a6b38a!2sKanyakumari%20Medical%20College%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668716987809!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">Nagercoil, Tamil Nadu 629201</p><p>Phone number: 04652236949</p>
            </td>
        </tr>
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.890007927139!2d77.52921312695312!3d8.112680999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04ed617e3b0339%3A0xba5094bd80eb3158!2sM%2FS%20Indian%20Medical%20Centre%2C%20Dr%20Kumarsawamy%20Health%20Center!5e0!3m2!1sen!2sin!4v1668717080932!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">Mission Compound, Perumalpuram, Tamil Nadu 629401</p><p>Phone number: 04652270756</p></td>
      
        </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3948.914503230149!2d77.29879912695313!3d8.211353000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04f946b80d2723%3A0xd4f42bb2bec19fc2!2sKanyakumari%20Medical%20Mission%20CSI%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668717214079!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td><p style="color:rgb(0, 0, 0)">Neyyoor, Tamil Nadu 629802</p><p>Phone number: 04651222222</p> </td>    
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.0346984217736!2d77.37614912695312!3d8.199258999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04f755a718c8ff%3A0x6022756d744994a7!2sLords%20Blood%20Bank%20(Run%20By%20Rajamony%20Memorial%20Educational%20Charitable%20Trust)!5e0!3m2!1sen!2sin!4v1668717353360!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td> <p style="color:rgb(0, 0, 0)">Chunkankadai, Nagercoil, Tamil Nadu 629003</p><p>Phone number: 04651231112</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.181973831588!2d77.40574912695311!3d8.184416000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04f0c5a9c0faf9%3A0x98b77aa11f6162!2sDr.%20Jeyasekharan%20Medical%20Trust%20And%20Nursing%20Home%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668717424457!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </td>
     <td> <p style="color:rgb(0, 0, 0)">Weavers Colony, Nagercoil, Tamil Nadu 629001</p><p>Phone no: 04652230019</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d505342.4475693798!2d76.69603024999999!3d8.304003099999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0455d473822189%3A0xcdcd6e2b57428e62!2sMarthandam%20Blood%20Centre!5e0!3m2!1sen!2sin!4v1668717594936!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <td><p style="color:rgb(0, 0, 0)">863F+H8H, Marthandam, Tamil Nadu 629183</p><p>Phone number: 9867451300</p></td>
    </tr>
    </table>
    <br>
    <br>
    <center><a  class="btn btn-dark mt-2" href="/">Go to Home</a></center>
    <br>
    <br>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>