<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="../static/img/plasma.png" rel="icon">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <title>Plasma Donor</title>
</head>
    <br>
    <center><h4>Successfully registered</h4></center>
    <br>
    <center><h2>Nearest Plasma Donation Centre!!!</h2></center>
    <br>
    <table style="text-align:center;">
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31336.48667932574!2d78.06040247028172!3d10.958777350659517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baa2fb0e55de9f3%3A0x6d904045c08cd7c4!2sGovernment%20Headquarters%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668719968258!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">Madavilagam, Karur, Tamil Nadu 639001</p><p>Phone number: 04324260197</p>
            </td>
        </tr>
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31336.48667932574!2d78.06040247028172!3d10.958777350659517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baa2fafc7dba4b5%3A0xf47152e1890ed50f!2sKarur%20Voluntary%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668720061753!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">20, Kamatchiamman Kovil N St, Madavilagam, Karur, Tamil Nadu 639001</p><p>Phone number: 9893451382</p></td>
      
        </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31335.965197376387!2d78.03611561562496!3d10.963700399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baa2fa9138dc6bd%3A0x210dcdea08048376!2sKarur%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668720104824!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td><p style="color:rgb(0, 0, 0)">196, Kamarajapuram W Rd, Kamarajapuram, Karur, Tamil Nadu 639002</p><p>Phone number: 04324236188</p> </td>    
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31335.965197376387!2d78.03611561562496!3d10.963700399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baa2fb78f002f8d%3A0xf184f99c88b664de!2sRainbow%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668720161824!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td> <p style="color:rgb(0, 0, 0)">X36P+9CM, near mariyamman koil, Bunglaw Street, Karur, Tamil Nadu 639001</p><p>Phone number: 8620494945</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31335.965197376387!2d78.03611561562496!3d10.963700399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baa2f4cc8251233%3A0xa0e775ffc11ba579!2sKarthik%20Blood%20Test%20Centre!5e0!3m2!1sen!2sin!4v1668720268914!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </td>
     <td> <p style="color:rgb(0, 0, 0)">120, 2nd Cross Rd, Vaiyapuri Nagar, Gandhi Puram, Karur, Tamil Nadu 639002</p><p>Phone no: 6879856471</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31335.965197376387!2d78.03611561562496!3d10.963700399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baa2fc53d760cfb%3A0x8eb958d13d612fc5!2sBalaji%20Xray%20%26%20Blood%20Test!5e0!3m2!1sen!2sin!4v1668720342532!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
        <td><p style="color:rgb(0, 0, 0)">X35F+RC7, Covai Road, Near Book Park, Opposite Bus Stand Exit, Karur, Tamil Nadu 639002</p><p>Phone number: 7871523443</p></td>
    </tr>
    </table>
    <br>
    <br>
    <center><a  class="btn btn-dark mt-2" href="/">Go to Home</a></center>
    <br>
    <br>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>