<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="../static/img/plasma.png" rel="icon">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <title>Plasma Donor</title>
</head>
    <br>
    <center><h4>Successfully registered</h4></center>
    <br>
    <center><h2>Nearest Plasma Donation Centre!!!</h2></center>
    <br>
    <table style="text-align:center;">
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250369.11139991978!2d77.92633543779502!3d11.333441151616706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babce928804b38f%3A0xa59026f96844543d!2sGovernment%20Headquarters%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668718882967!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">Thillaipuram, Namakkal, Tamil Nadu 637001</p><p>Phone number: 04286221411</p>
            </td>
        </tr>
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250369.11139991978!2d77.92633543779502!3d11.333441151616706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babcea47f2a5f27%3A0x3ce4c215ca9c32b4!2sBharath%20Clinical%20Laboratory!5e0!3m2!1sen!2sin!4v1668718949536!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">No 13, Trichy Rd, Azhagu Nagar, Andavarnagar East, Namakkal, Tamil Nadu 637001</p><p>Phone number: 9893451382</p></td>
      
        </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250471.7831050904!2d77.90724812500002!3d11.215606999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babce93cae9a5ed%3A0xa4e587551a20b272!2sBharath%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668719030544!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td><p style="color:rgb(0, 0, 0)">637001, 64/29-B DR.SANKARAN ROAD, OPP- SBI, NAMAKKAL, Namakkal, Tamil Nadu 637001</p><p>Phone number: 04286220027</p> </td>    
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250341.72781955733!2d77.68404522500002!3d11.36466499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babd8b4dde9ed5b%3A0x6f2255883dfad665!2sGovernment%20Hospital%20Blood%20Bank%20Thiruchengode!5e0!3m2!1sen!2sin!4v1668719107645!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td> <p style="color:rgb(0, 0, 0)">9W8X+34J, Tiruchengode - Namakkal - Trichy Rd, Elaiyampalayam, Tamil Nadu 637205</p><p>Phone number: 04288224450</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250463.87271482844!2d77.903322925!3d11.22472900000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babcff504e1d6e7%3A0xe5176daf448df5e4!2sThyrocare%20Namakkal!5e0!3m2!1sen!2sin!4v1668719181460!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </td>
     <td> <p style="color:rgb(0, 0, 0)">65F8+VQX, Kavignar Ramalingam Street, R.P Pudur, Namakkal, Tamil Nadu 637001</p><p>Phone no: 09385429109</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250463.87271482844!2d77.903322925!3d11.22472900000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babce92fc52b1e1%3A0x838b978d4ef92180!2sBalaji%20Scans%20%26%20Blood%20Test%20Center!5e0!3m2!1sen!2sin!4v1668719234023!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
        <td><p style="color:rgb(0, 0, 0)">658C+V6R, Ganesapuram, Kamaraj Nagar, Namakkal, Tamil Nadu 637001</p><p>Phone number: 8076758009</p></td>
    </tr>
    </table>
    <br>
    <br>
    <center><a  class="btn btn-dark mt-2" href="/">Go to Home</a></center>
    <br>
    <br>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>