<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="../static/img/plasma.png" rel="icon">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <title>Plasma Donor</title>
</head>
    <br>
    <center><h4>Successfully registered</h4></center>
    <br>
    <center><h2>Nearest Plasma Donation Centre!!!</h2></center>
    <br>
    <table style="text-align:center;">
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15629.847819977751!2d78.13533180781245!3d11.661637699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf035a0fd6b4b%3A0xa389910d871a4f27!2sSalem%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668714907092!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">53, Tamil Sangam Rd, Sankar Nagar, Salem, Tamil Nadu 636007</p><p>Phone number: 04272265432</p>
            </td>
        </tr>
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15630.301949879042!2d78.15960690781247!3d11.653569000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf1dce0ea99d7%3A0x1523c0f8cd37a5aa!2sKurinji%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668715006774!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">M53G+CCG, West St, Burn's Colony, Salem, Tamil Nadu 636016</p><p>Phone number: 04272433321</p></td>
      
        </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15629.679877739794!2d78.1359453078125!3d11.66462020000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf1e9891bcd33%3A0xc690fc8b166864ca!2sMinu%20labs%20and%20blood%20bank!5e0!3m2!1sen!2sin!4v1668715089073!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td><p style="color:rgb(0, 0, 0)">No77 kannanoor kalli aman street, Sankar Nagar, Salem, Tamil Nadu 636007</p><p>Phone number: 09677478800</p> </td>    
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15629.679877739794!2d78.1359453078125!3d11.66462020000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf04ff8228d27%3A0xabd2661c525a4cd3!2sSKS%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668715193009!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td> <p style="color:rgb(0, 0, 0)">50, 1st Floor, SKS Towers, 1, Brindavan Rd, Salem, Tamil Nadu 636004</p><p>Phone number: 04274033888</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15630.231605280662!2d78.1712447078125!3d11.654819200000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf1e59d4dcff9%3A0x150a680585aba68e!2sS%20Palaniyandi%20Mudaliar%20Memorial%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668715264901!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </td>
     <td> <p style="color:rgb(0, 0, 0)">M53Q+W3H, Ammapet, Salem, Tamil Nadu 636003</p><p>Phone no: 04272244500</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15630.20407759704!2d78.13623250781248!3d11.655308400000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf03268559399%3A0x68d0a6064965b269!2sGovernment%20Mohan%20Kumara%20Mangalam%20Medical%20College%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668715348997!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
        <td><p style="color:rgb(0, 0, 0)">Shevapet, Salem, Tamil Nadu 636002</p><p>Phone number: 04272210964</p></td>
    </tr>
    </table>
    <br>
    <br>
    <center><a  class="btn btn-dark mt-2" href="/">Go to Home</a></center>
    <br>
    <br>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>