<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="../static/img/plasma.png" rel="icon">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <title>Plasma Donor</title>
</head>
    <br>
    <center><h4>Successfully registered</h4></center>
    <br>
    <center><h2>Nearest Plasma Donation Centre!!!</h2></center>
    <br>
    <table style="text-align:center;">
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31207.26444158646!2d78.13366802098525!3d12.118443250844681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac17c4604c42c5%3A0x3363b3d93c8166f2!2sMARUTHI%20BLOOD%20BANK%20WITH%20COMPONENT%20CENTRE!5e0!3m2!1sen!2sin!4v1668719465176!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">Adhiyamaan St, Senthil Nagar, Dharmapuri, Tamil Nadu 636701</p><p>Phone number: 07708020001</p>
            </td>
        </tr>
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31207.26444158646!2d78.13366802098525!3d12.118443250844681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac16e27e136ca5%3A0xff70706603d8aed6!2sDharmapuri%20Medical%20College%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668719570429!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">Indhira Nagar, Dharmapuri, Tamil Nadu 636701</p><p>Phone number: 04342231748</p></td>
      
        </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31207.26444158646!2d78.13366802098525!3d12.118443250844681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac16feced28443%3A0x874267ce14f1ae4c!2sOm%20Sakthi%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668719624498!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td><p style="color:rgb(0, 0, 0)"></p>Dharmapuri, Tamil Nadu 636701<p>Phone number: 04342260388</p> </td>    
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31207.26444158646!2d78.13366802098525!3d12.118443250844681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac1721adf842a5%3A0x5c47a243d2eb0253!2sINDIAN%20BLOOD%20DONORS%20CLUB!5e0!3m2!1sen!2sin!4v1668719684027!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td> <p style="color:rgb(0, 0, 0)"></p>4563+J8J, NH 7, Dharmapuri, Tamil Nadu 636701<p>Phone number: 09444062520</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31207.26444158646!2d78.13366802098525!3d12.118443250844681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac17194a2f9cb5%3A0x7e18c45c126d5476!2sAshok%20Blood%20Bank%20And%20Clinical%20Laboratory!5e0!3m2!1sen!2sin!4v1668719752212!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </td>
     <td> <p style="color:rgb(0, 0, 0)">No. 63A, Sengodipuram Road,2nd Floor, Dharmapuri, 636702, Dharmapuri, Tamil Nadu 636701</p><p>Phone no: 08765644559</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31207.26444158646!2d78.13366802098525!3d12.118443250844681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac16e2c6d5be63%3A0xf5b68e322cb89608!2sGovernment%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668719832652!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
        <td><p style="color:rgb(0, 0, 0)">45F5+J6V, Salem Main Rd, Indhira Nagar, Dharmapuri, Tamil Nadu 636701</p><p>Phone number: 7094567846</p></td>
    </tr>
    </table>
    <br>
    <br>
    <center><a  class="btn btn-dark mt-2" href="/">Go to Home</a></center>
    <br>
    <br>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>