<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="../static/img/plasma.png" rel="icon">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <title>Plasma Donor</title>
</head>
    <br>
    <center><h4>Successfully registered</h4></center>
    <br>
    <center><h2>Nearest Plasma Donation Centre!!!</h2></center>
    <br>
    <table style="text-align:center;">
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125172.04083118666!2d77.57875544196827!3d11.361984381390679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba96ff1453d69a3%3A0x297c39d0fe456801!2sTamilnadu%20Voluntary%20Blood%20Bank%20and%20Research%20Centre!5e0!3m2!1sen!2sin!4v1668718242833!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">Bus Stand, 003 V.C.T.V . ROAD,Veerapatra Street Balaji Residency Building ( IDBI Bank Back Side), Near by, Erode, Tamil Nadu 638003</p><p>Phone number: 09865273337</p>
            </td>
        </tr>
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125172.04083118666!2d77.57875544196827!3d11.361984381390679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba96f3eae006005%3A0x5788e4497cad2d29!2sGovernment%20Headquarters%20Hospital%20Blood%20Bank%20Erode!5e0!3m2!1sen!2sin!4v1668718335853!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">Kaikolar Thottam, Erode, Tamil Nadu 638001</p><p>Phone number: 04242253676</p></td>
      
        </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125172.04083118666!2d77.57875544196827!3d11.361984381390679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba96f3fb7b950d3%3A0x537f9350d65f476f!2sErode%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668718394179!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td><p style="color:rgb(0, 0, 0)">Plot No 43, SKC Road, Patel Rd, Chidambaram Colony, Erode, Tamil Nadu 638001</p><p>Phone number: 09842725316</p> </td>    
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125172.04083118666!2d77.57875544196827!3d11.361984381390679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba96f145a965335%3A0x437dbd821921f5c5!2sLions%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668718471891!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td> <p style="color:rgb(0, 0, 0)">8PJ9+CGX, Anna Nagar, SIDCO Industrial Estate, Jaganathapuram Colony, Erode, Tamil Nadu 638001</p><p>Phone number: 9864512344</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125172.04083118666!2d77.57875544196827!3d11.361984381390679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba96f6e45155367%3A0x1f5cde674003ae09!2sLotus%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668718568906!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </td>
     <td> <p style="color:rgb(0, 0, 0)">Housing Unit, Erode, Tamil Nadu 638002</p><p>Phone no: 04242282828</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125172.04083118666!2d77.57875544196827!3d11.361984381390679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba96f3f5c6585f3%3A0xb4989f5fa5e99691!2sSri%20Saandhi%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668718642910!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
        <td><p style="color:rgb(0, 0, 0)">8PQC+PP8, Brough Rd, Kaikolar Thottam, Erode, Tamil Nadu 638001</p><p>Phone number: 04242264266</p></td>
    </tr>
    </table>
    <br>
    <br>
    <center><a  class="btn btn-dark mt-2" href="/">Go to Home</a></center>
    <br>
    <br>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>