<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="../static/img/plasma.png" rel="icon">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <title>Plasma Donor</title>
</head>
    <br>
    <center><h4>Successfully registered</h4></center>
    <br>
    <center><h2>Nearest Plasma Donation Centre!!!</h2></center>
    <br>
    <table style="text-align:center;">
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125763.07867892573!2d78.00048436249999!3d9.92594520000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c597c0f47325%3A0x48507eace12028ed!2sMadurai%20Voluntary%20Blood%20Bank%20%26%20Research%20Centre!5e0!3m2!1sen!2sin!4v1668715502600!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">42, Kakkan St, Shenoy Nagar, Madurai, Tamil Nadu 625002</p><p>Phone number: 04524524452</p>
            </td>
        </tr>
        <tr>
            <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125763.07867892573!2d78.00048436249999!3d9.92594520000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c5a32bde0343%3A0x9136b444671e4eca!2sMadurai%20Blood%20Donors!5e0!3m2!1sen!2sin!4v1668715573532!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td><p style="color:rgb(0, 0, 0)">Masjid Tawheed.1 Gandhi Nagar Cross Street, Anna Bus stand, Backside, 625001</p><p>Phone number: 09789341714</p></td>
      
        </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125763.07867892573!2d78.00048436249999!3d9.92594520000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c582ffffffff%3A0xd0d92874f0cceece!2sChristian%20Mission%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668715645219!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td><p style="color:rgb(0, 0, 0)">Valaiyal Kadai, Madurai Main, Madurai, Tamil Nadu 625001</p><p>Phone number: 04522326458</p> </td>    
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125763.07867892573!2d78.00048436249999!3d9.92594520000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c597b30d0509%3A0xe77eb89acd69d163!2sGovernment%20Rajaji%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668715726577!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
       <td> <p style="color:rgb(0, 0, 0)">Alwarpuram, Madurai, Tamil Nadu 625009</p><p>Phone number: 04522520950</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125763.07867892573!2d78.00048436249999!3d9.92594520000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c5b108e189d3%3A0xd6eccb37a6fd105c!2sThe%20Apollo%20Speciality%20Hospital%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668715796827!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </td>
     <td> <p style="color:rgb(0, 0, 0)">Deputy Collector Colony, Madurai, Tamil Nadu 625020</p><p>Phone no: 04522581147</p></td>
    </tr>
      <tr>
        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125763.07867892573!2d78.00048436249999!3d9.92594520000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c5b8e1f9530d%3A0x5686d1f12fe87bc!2sJeevan%20Blood%20Bank!5e0!3m2!1sen!2sin!4v1668715867217!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>
        <td><p style="color:rgb(0, 0, 0)">No 363, 4th Cross St, Mellur, KK Nagar, Tamil Nadu 625020</p><p>Phone number: 0452234678</p></td>
    </tr>
    </table>
    <br>
    <br>
    <center><a  class="btn btn-dark mt-2" href="/">Go to Home</a></center>
    <br>
    <br>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>