* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(137, 176, 207);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 200%;
	max-width: 1500px;
	min-height: 1000px;
	margin: 2px;
	display: grid;
	grid-template-columns: 0.8fr 2fr;
	
}
.left {
	position:initial;
	background-color: rgb(202, 219, 102);
	padding: 40px;
}
.right {
	position: initial;
	background-color: rgb(25, 26, 15);
	padding: 40px;
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(43, 123, 126);
}
